<!DOCTYPE html>
<html>
<head>
  <title>SplitTestsAhoy</title>
  <%= stylesheet_link_tag    "split_tests_ahoy/application", media: "all" %>
  <%= javascript_include_tag "split_tests_ahoy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
